<nb-layout-column>
    <div [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary" class="product-list-wrapper">
        <app-product-table [products]="products" (addToCartEvent)="addToCart($event)"></app-product-table>
        <div class="pagination">
            <button nbButton outline status="primary" [disabled]="pageNumber === 1" (click)="pageChange(-1)">< Previous</button>
            <button nbButton outline status="primary" [disabled]="pageNumber === totalPages" (click)="pageChange(1)">Next ></button>
        </div>
    </div>
</nb-layout-column>
