<nb-layout>

  <nb-layout-header fixed>
      <div class="main-header">
          <div class="navigation">
              <a nbButton routerLink="/products/list">Products</a>
          </div>
          <div class="auth-wrapper">
              <div class="auth-links" *ngIf="!user">
                  <a nbButton outline status="primary" routerLink="/auth/login" class="login-button">Login</a>
                  <a nbButton status="primary"  routerLink="/auth/register">Register</a>
              </div>
              <nb-user *ngIf="user" name={{user.username}} [nbContextMenu]="menuItems" nbContextMenuTag="user-context-menu"></nb-user>
          </div>
      </div>

  </nb-layout-header>

  <nb-layout-column class="main-col">
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
      Made with <span class="footer-love">&nbsp;❤&nbsp;</span> by
      <span>
        <a class="author-link" href="https://github.com/maciekbartczak">&nbsp;Maciej Bartczak</a>
      </span>
  </nb-layout-footer>

</nb-layout>
