@import "auth/app-login.css";
@import "auth/app-register.css";
@import "profile/app-profile.css";
@import "profile/add-address-dialog.css";
@import "product/app-product-table.css";
@import "product/app-product-list.css";
@import "cart/app-items-list.css";
@import "order/app-order-list.css";
@import "order/app-new-order.css";
@import "admin/app-admin-orders.css";

* {
  box-sizing: border-box;
}

app-root .main-col {
    padding: 0 !important;
}

app-root .main-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

app-root .login-button {
    margin-right: 1rem;
}

app-root .navigation :not(:last-child){
    margin-right: 1.5rem;
}

app-root .footer-love {
    color: red;
}

app-root .author-link {
    text-decoration: none;
}
