<nb-layout-column class="register-wrapper">
    <nb-card class="register-card" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
        <nb-card-header class="register-header">
            <h1>Register</h1>
        </nb-card-header>
        <nb-card-body class="form-wrapper">
            <nb-card *ngIf="error" class="error" status="danger">
                <nb-card-header>{{error}}</nb-card-header>
            </nb-card>
            <form class="register-form" [formGroup]="loginForm" (ngSubmit)="register()">
                <input nbInput placeholder="username" type="text" formControlName="username"
                       [(ngModel)]="model.username"
                       [status]="submitted && loginForm.controls.username.errors  ? 'danger' : 'default'">
                <input nbInput placeholder="password" type="password" formControlName="password"
                       [(ngModel)]="model.password"
                       [status]="submitted && loginForm.controls.password.errors ? 'danger' : 'default'">
                <input nbInput placeholder="first name" type="text" formControlName="firstName"
                       [(ngModel)]="model.firstName"
                       [status]="submitted && loginForm.controls.firstName.errors ? 'danger' : 'default'">
                <input nbInput placeholder="last name" type="text" formControlName="lastName"
                       [(ngModel)]="model.lastName"
                       [status]="submitted && loginForm.controls.lastName.errors ? 'danger' : 'default'">
                <input nbInput placeholder="email" type="email" formControlName="email"
                       [(ngModel)]="model.email"
                       [status]="submitted && loginForm.controls.email.errors ? 'danger' : 'default'">
                <button nbButton status="primary" type="submit">Register</button>
            </form>
        </nb-card-body>
    </nb-card>
</nb-layout-column>


