<nb-layout-column class="profile-wrapper">
    <nb-card class="profile-card" *ngIf="userInfo">
        <nb-card-header>
            <h1>Hello,  {{userInfo.username}}!</h1>
        </nb-card-header>
        <nb-card-body class="info-wrapper">
            <nb-accordion>
                <nb-accordion-item expanded>
                    <nb-accordion-item-header>
                        Basic information
                    </nb-accordion-item-header>
                    <nb-accordion-item-body class="basic-info">
                        <app-basic-info [userInfo]="userInfo"></app-basic-info>
                    </nb-accordion-item-body>
                </nb-accordion-item>
                <nb-accordion-item>
                    <nb-accordion-item-header>
                        Addresses
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <app-addresses [userAddresses]="userAddresses" [userId]="userId"></app-addresses>
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
        </nb-card-body>
    </nb-card>
</nb-layout-column>
