app-order-list nb-layout-column {
    display: flex;
    justify-content: center;
}

app-order-list .order-card-header {
    text-align: center;
}

app-order-list .order-card {
    width: 98%;
}

app-order-list  .order-info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

app-order-list .order-info > :not(:last-child){
    margin-right: 2rem;
}

app-order-list .order-payment-button {
    margin-right: 2rem;
}


app-order-list .product-image {
    max-width: 8%;
    height: auto;
}

app-order-list .order-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

app-order-list .product-name {
    width: 82%;
}

app-order-list .order-total {
    font-weight: bold;
}

app-order-list .order-total-label {
    width: 90%;
    text-align: right;
    font-weight: bold;
}
