<nb-layout-column class="cart-wrapper">
    <nb-card class="cart-card" *ngIf="cart" [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
        <nb-card-header>
            <h2 class="products-header">Your cart</h2>
        </nb-card-header>
        <nb-card-body class="cart-card-body">
            <nb-list>
                <nb-list-item *ngFor="let product of cart.products" class="item-row">
                    <span class="product-name">{{product.name}}</span>
                    <span class="product-price-quantity-wrapper">
                        <span class="product-price">{{product.price | currency: 'PLN'}}</span>
                        <input class="product-quantity" nbInput type="number" value="1" min="1" max="99" class="product-quantity"
                               [(ngModel)]="product.quantity"
                               (ngModelChange)="updateQuantity(product)">
                    </span>
                    <button class="remove-product-button" nbButton status="danger"
                            (click)="authGuard.canLoad() && removeProduct(product.id)">
                        <nb-icon icon="trash-2"></nb-icon>
                    </button>
                </nb-list-item>
                <nb-list-item class="cart-summary">
                    <span class="cart-summary-total-label">Total: </span>
                    <span class="cart-summary-total-value">{{cart.cartInfo.total | currency:'PLN'}}</span>
                    <span class="empty-col"></span>
                </nb-list-item>
            </nb-list>
        </nb-card-body>
    </nb-card>
</nb-layout-column>

